& {
  background-color: $dark-grey;
  padding: 0.5em;
  color: $off-white;
  justify-content: space-between;
}

.quote {
  font-size: 0.5em;
}

.versionInfo {
  text-align: right;
  font-size: 0.5em;
}
