.maxHeight {
  min-height: 100vh;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.stretch {
  flex: 1;
}

.grow {
  flex-grow: 1;
}

.center {
  justify-content: center;
  align-items: center;
}

.toolbarContainer {
  margin: 1em;
}
