<div class="content col stretch">
  <span class="header">
    {{#if isToday}}
      <span class="fromNow">
        Today
      </span>
      <span class="spacer">
        -
      </span>
    {{/if}}
    <span class="date">
      {{date}}
    </span>
  </span>

  {{passive/label-icon
    icon='flight_takeoff'
    label='6:15am - 11:00am'}}

  {{passive/label-icon
    icon='store'
    label='11 Deliveries'}}

  {{passive/label-icon
    icon='swap_vertical_circle'
    label='2 Pickups'}}

</div>
<span class="row iconContainer">
  <i class="material-icons">keyboard_arrow_right</i>
</span>
