{{forms/bill-of-lading model=model.order}}
{{forms/credit-memo model=model.creditNote}}

{{ui/signature-capture
    signature=model.pod.signature
    name=model.pod.name
    onNameChanged=onNameChanged
    onSignature=onSignature}}

<div class="row center uiContainer">
  <div class="card-1">
    {{ui/icon-button
      icon='done'
      label='Submit'
      size='2'
      color=white
      backgroundColor=colors.DARK_GREY
      disabled=incomplete
      onClick=submit}}
  </div>
</div>
