& {
  cursor: pointer;
  margin: 1em;
  background-color: $light-blue;
  position: relative;
  color: $dark-grey;
}

&:active {
  background-color: white;
  .index {
    opacity: 0.5;
  }
}

&.completed {
  opacity: 0.5;
}

.outerContainer {
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.index {
  font-size: 2em;
  color: $dark-grey;
  align-items: center;
  background-color: #DCF8FF;

  padding: 0 0.4em;
  justify-content: center;
}

.code {
  font-size: 1.4em;
}

.nickname {
  font-style: italic;
}

.iconContainer {
  align-items: center;
  .material-icons {
    font-size: 2em;
  }
}

.arrivalContainer {
  position: absolute;
  bottom: 0.5em;
  right: 1.6em;
}
