<span class="col index">
  {{formattedIndex}}
</span>

<div class="row stretch outerContainer">
  <div class="content col">
    <span class="company">
      {{model.item.name}}
    </span>
  </div>

  <span class="row iconContainer">
    {{#if model.completed}}
      <i class="material-icons">done</i>
    {{/if}}
    <i class="material-icons">keyboard_arrow_right</i>
  </span>
</div>
