<div class="col">
  {{ui/item-tracker
      label=model.item.name
      starting=(readonly model.start)
      returns=(readonly model.returns)
      startingChanged=(action 'startingChanged')
      returnsChanged=(action 'returnsChanged')}}

  <div class="row center">
    <div class="card-1">
      {{ui/icon-button
        icon='done_all'
        label='Mark Tracked'
        size='2'
        color=white
        backgroundColor=colors.DARK_GREY
        onClick=(action 'markCompleted')
      }}
    </div>
  </div>
</div>
