<span>{{name}}</span>
<span class="row">
  {{#if hasQuantity}}
    <span class="quanityContainer">
      <span class='x'>x</span>
      <span class='quantity'>{{quantity}}</span>
    </span>
  {{/if}}
  <span class="row priceContainer">
    <span class='price'>{{currency total}}</span>
  </span>
</span>
