{{lists/fulfillment-list
  model=model.fulfillments
  rowSelected=(route-action 'showFulfillment')
}}

{{ui/signature-capture
    name=tempReceiverName
    signature=tempSignature
    signedAt=tempSignedAt
    onSignature=(action 'onSignature')}}

<div class="row center toolbarContainer">
  <div class="card-1">
    {{ui/icon-button
      icon='check'
      label='Submit'
      size='2'
      color=white
      backgroundColor=colors.SKY_BLUE
      disabled=(not canSubmit)
      onClick=(route-action 'submitRouteVisit')}}
  </div>
</div>
