<div class="row labelIconContainer">
  {{passive/label-icon
    icon=icon
    label=label}}
</div>

<div class="col">
  <span class="row iconContainer">
    {{#if completed}}
      <i class="material-icons">done</i>
    {{else}}
      <i class="material-icons">donut_large</i>
    {{/if}}
    <i class="material-icons">keyboard_arrow_right</i>
  </span>
</div>
