{{ui/icon-button
  class='back'
  size=2
  flat=true
  color=colors.LIGHT_GREY
  backgroundColor=colors.DARK_GREY
  icon='keyboard_arrow_left'
  onClick=(action 'goBack')}}

<div class="content col stretch">
    <span class="label">{{label}}</span>
    <span class="info">{{info}}</span>
</div>
