& {
  justify-content: center;
}

.itemTrackerContainer {
  margin: 1em;
  font-size: 0.8em;
}

.itemLabel {
  padding: 0.5em;
  margin-bottom: 0.5em;
  font-size: 2em;
  font-weight: 600;
  background-color: #FFEB8A;
  color: $dark-grey;
}
