<div class="col itemTrackerContainer stretch">
  <h3>{{label}}</h3>
  {{ui/item-counter
    label="Total Starting"
    value=starting
    valueChanged=startingChanged}}

  {{ui/item-counter
    label="Returns"
    value=returns
    valueChanged=returnsChanged}}
</div>
