{{#each items as |item i|}}
  {{rows/completeable-label-row
    label=item.label
    model=item
    completed=item.completed
    index=i
    onClick=(route-action 'trackItem')}}
{{/each}}

<div class="row center">
  <div class="card-1">
    {{ui/icon-button
      icon='done_all'
      label='Mark Tracked'
      size='2'
      color=white
      backgroundColor=colors.DARK_GREY
      onClick=(route-action 'markAllCompleted')
    }}
  </div>
</div>
