<div class="col">
  {{ui/item-tracker
      label='Sunseed Chorizo'
      starting=model.stockLevel.starting
      returns=model.stockLevel.returns
      startingChanged=(route-action 'startingChanged')
      returnsChanged=(route-action 'returnsChanged')}}

  <div class="row center">
    <div class="card-1">
      {{ui/icon-button
        icon='done_all'
        label='Mark Tracked'
        size='2'
        color=white
        backgroundColor=colors.DARK_GREY
        onClick=(route-action 'markCompleted')
      }}
    </div>
  </div>
</div>
