{{ui/drilldown-button
  icon='assignment_turned_in'
  label='Track Inventory'
  completed=trackingCompleted
  onClick=(route-action 'track')}}

{{ui/drilldown-button
  icon='touch_app'
  disabled=(not trackingCompleted)
  label='Review & Sign'
  indicateCompleted=signed
  onClick=(route-action 'review')}}

<div class="row center toolbarContainer">
  <div class="card-1">
    {{ui/icon-button
      icon='check'
      label='Submit'
      size='2'
      color=white
      backgroundColor=colors.SKY_BLUE
      onClick=(route-action 'submitFulfillment')}}
  </div>
</div>
